*{
  border: 0;
  margin: 0;
  box-sizing: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #f0f0f0;
  font-family: Arial, Helvetica, sans-serif;
}



header {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

button {
  cursor: pointer;
  color: white;

}


#input_text {
  width: 30%;
  line-height: 2rem;
  border-radius: 5px;
}

header button {
  background-color:#008cba;
  border-radius: 5px;
  border: 1px solid black;
  margin-left: 1rem;
  color: white;
}


.delete_btn {
  background-color: #c94c4c;
  height: 30px;
  width: 30px;

}

.edit_btn {
background-color: #008cba;
height: 30px;
width: 30px;
}

.move_btn {
background-color:#4caf50;
height: 30px;
width: 30px;
}


.container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-left: 5rem;
  margin-right: 5rem;
}

#pending {
  border: 1px solid #e6e2d3;
  border-radius: 5px;
  width:40%;
  height: 100%;
  margin-right: 1rem;
  padding-top: 1rem;
  padding-left: 10px;
  padding-right: 10px;

}

.pending_lists li {
  list-style-type: none;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
}



#completed {
  width: 40%;
  height: 100%;
  border: 1px solid #e6e2d3;
  border-radius: 5px;;
  padding-top: 1rem;
  padding-left: 10px;
}


.completed_lists li {
  list-style-type: none;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}


.single_box {
  display: inline-flex;
  justify-content: center;
  background-color: #e6e2d3;
  border-radius: 5px;
  width: 100%;
  line-height: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.list_content {
  line-height: 1rem;
}

.updated_input {
  width: 50%;
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 1rem;
}





